.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
    margin: 10%;
    margin-top: 10%;
  }

  .button-nav {
    background-color: white; 
    color: black; 
    border: 2px solid #04AA6D;
  }

  .button-nav:hover {
    background-color: #04AA6D;
    color: white;
  }
  